DB_USER="tx-prd"
DB_PASSWORD="root"
CACHE_PASSWORD="test"
dbType="postgres"
dsn="dbname=tx-prd sslmode=disable user=postgres password=root host=db"

dbTypeTest="sqlite3"
dsnTest=":memory:"

env="test"
debug=true
AutoMigrateDb=true